/* signup.css */

.signup-container {
    margin-top: 30px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #ffbc42 !important;
    color: #ffffff;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
    color: #495057;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out;
  }
  
  .input:focus {
    border-color: #007bff !important;
  }
  
  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .signup-submit-btn {
    color: #d81159 !important;
    background-color: #ffbc42 !important;
    border-color: #ffbc42 !important;
  }
  
  .btn-secondary {
    margin-left: 10px;
  }
  
  .form-feedback {
    color: #dc3545 !important;
    display: block;
    margin-top: 5px;
  }
  
  .reset-btn {
    color: #495057 !important;
  }
  
  .reset-btn:hover {
    text-decoration: underline;
  }
  